:root {
	--color-purple: #5200e5;
	--color-persian: #330a80;
	--color-blue-gem: #3d0d96;

	--color-gallery-100: #eeeeee;
	--color-gallery-200: #ececec;
	--color-chalise: #a9a9a9;

	--color-malachite-600: #00c045;
	--color-malachite-700: #009637;
	--color-malachite-800: #06752f;

	--color-alabaster: #f9f9f9;

	--color-orange: #ff9933;
	--color-poppy: #ff9900;
	--color-flush: #ff8000;

	--color-succes: var(--color-malachite-700);
	--color-star-dust: #a3a3a3;

	--color-text: var(--color-black);
	--color-focus: var(--color-orange);
	--color-border: var(--color-gallery-100);
}

body {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;

	font-size: 0.875rem;
	font-weight: 300;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: var(--color-white);
	flex-grow: 1;
}

section {
	max-width: 1160px;
	width: 100%;
}

:focus-visible {
	outline: 2px solid var(--color-focus);
}
