.header-cart {
	.header-cart__title {
		text-transform: uppercase;
		font-weight: 800;
		font-size: 1.25rem;
		color: var(--color-persian);

		padding-inline: 1.25rem;
		padding-block: 1rem;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.header-cart__body {
		background-color: var(--color-white);
		color: var(--color-text);
		position: absolute;
		width: 100%;
		max-width: 36rem;
		inset-block-start: 0.5rem;
		border-radius: 12px;
		overflow: hidden;

		.header-cart__contents {
			padding-inline: 1.25rem;
		}

		.header-cart__footer {
			font-weight: 500;
			text-align: right;
			padding-inline: 1.25rem;
			padding-block: 1rem;
			background-color: var(--color-malachite-600);
			color: var(--color-white);
			margin-block-start: 1rem;
		}

		.header-cart__product {
			display: grid;
			grid-template-columns: 5.5rem auto 5rem;
			gap: 0.5rem;
			padding: 1.25rem 0.5rem;

			+ .header-cart__product {
				border-block-start: 1px solid var(--color-gallery-200);
			}

			.header-cart__price {
				display: flex;
				flex-direction: column;
			}

			.header-cart__quantity {
				color: var(--color-chalise);
				font-weight: normal;
			}

			.header-cart__price {
				color: var(--color-persian);
				font-weight: bold;
			}

			.header-cart__product-title {
				display: flex;
				flex-direction: column;

				.header-cart__quantity {
					font-size: 0.75rem;
				}
			}
		}

		.header-cart__delete-btn {
			font-size: 0.75rem;
			color: var(--color-malachite-600);
			font-weight: normal;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
