.footer {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-block-start: 4rem;
	background-color: var(--color-purple);
	color: var(--color-white);

	section {
		padding-block: 1rem;
		text-align: center;
	}
}
