@import "tailwindcss";

:root {
	--color-purple: #5200e5;
	--color-persian: #330a80;
	--color-orange: #ff9933;
	--color-gallery-100: #eeeeee;

	--color-font-primary: var(--color-black);
	--color-focus: var(--color-orange);
}

body {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;

	font-weight: 300;
}

.main {
	background-color: var(--color-white);
	flex-grow: 1;
}

.footer {
	background-color: var(--color-purple);
	color: var(--color-white);
}

section {
	max-width: 1160px;
	width: 100%;
}

.main,
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

:focus-visible {
	outline: 2px solid var(--color-focus);
}

button {
	cursor: pointer;
}

h1 {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 1.5rem;
	color: var(--color-persian);
}
