.overview {
	.overview__filters,
	.overview__main {
		padding-block: 1.5rem;
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
	}

	.overview__main {
		.overview__result-count {
			font-weight: bold;
			font-size: 1rem;
			color: var(--color-star-dust);
		}
	}

	.overview__filters {
		align-items: center;
	}
}
