.overview {
	.overview__filters,
	.overview__main {
		padding-block: 1.5rem;
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
	}

	.overview__main {
		.overview__result-count {
			font-weight: bold;
			font-size: 1rem;
			color: var(--color-star-dust);
		}

		.overview__active-filters {
			display: flex;
			gap: 0.5rem;

			.overview__delete-filters,
			.overview__filter {
				padding: 0.5rem 1rem;
				font-weight: 500;
				border-radius: 8px;
				border-width: 1px;
				border-style: solid;
			}

			.overview__delete-filters {
				color: var(--color-persian);
				border-color: var(--color-persian);
			}

			.overview__filter {
				background-color: var(--color-orange);
				color: var(--color-white);
				border-color: var(--color-orange);
			}
		}
	}

	.overview__filters {
		align-items: center;
	}
}
