.accordion {
	--accordion-border: 1px solid var(--color-gallery-100);

	font-size: 0.875rem;
	border: var(--accordion-border);

	& + .accordion {
		border-block-start: 0px;
	}

	.accordion__toggle,
	.accordion__content {
		padding: 0.5rem 0.75rem;
	}

	&.open {
		.accordion__body {
			grid-template-rows: 1fr;
		}

		.accordion__header .accordion__toggle {
			svg {
				rotate: 180deg;
			}
		}
	}

	.accordion__body {
		display: grid;
		grid-template-rows: 0fr;
		transition: grid-template-rows 0.3s ease-in-out;
	}

	.accordion__header {
		background-color: var(--color-gallery-100);
		border-block-end: var(--accordion-border);

		.accordion__toggle {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			width: 100%;

			svg {
				width: 1rem;
				height: 1rem;
			}
		}
	}
}
